name: Approve dependabot PR
on:
  pull_request:
    branches: [ master ]
  check_suite:
    types:
      - completed

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Complete PR
        if: ${{ github.actor == 'dependabot[bot]' || github.actor == 'renovate[bot]' || github.actor == github.repository_owner }}
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
